<h1><%= @place.name %></h1>

<ul>
  <% for post in @place.posts %>
  <li><p><%= "#{post.title}" %></p>
      <p><%= "#{post.posted_on}" %></p> 
      <p><%= "#{post.description}" %></p>
  </li>
  <% end %>
</ul> 

<p>
<a href="/posts/new?place_id=<%= @place.id %>">Create new posts</a>
</p>